// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url(/dist/img/showcase.jpg);

// Colors
$white: #fff;
$dark: #000;


//Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark;
  } @else {
    @return $white;
  }
}