@import "config";
@import "utilities";
@import "item_grid";


// General styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $white;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//Logo
#logo {
  width: 70px;
  height: 70px;
  color: $white;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: $white;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  //Header Home
  &-home {
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color: $white;

    //Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.4;
      }
    }
  }

  //Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 30%/cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections
#home{
  &-a{
    .specials{
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas{
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  &-b{
    .stats{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li{
        line-height: 2;

        &.stats-title{
          font-size: 1.5rem;
        }

        &.stats-number{
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div{
        padding: 3rem 0;
  
        &:nth-child(odd){
          background-color: $light-color;
        }
  
        &:nth-child(even){
          background-color: $medium-color;
        }
      }
    }
  }

  &-c{
    .process{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      &-icon{
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover{
          background: $main-color;
          color: set-text-color($main-color);
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step{
            background: $dark-color;
          }
        }
      }
    }
  }
}

// About sections
#about{
  &-a{
    .about-info{
      display: grid;
      grid-template-areas: 
      'bioimage bio bio'
      'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    // Grid Area
    .bio-image{ grid-area: bioimage;}
    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }

    .award-1{grid-area: aw1;}
    .award-2{grid-area: aw2;}
    .award-3{grid-area: aw3;}

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas{
      color: $main-color;
      margin: 1rem;
    }
  }

  // Progress bars
  &-b{
    .progress{
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div{
        height: 100%;
        color: $white;
        text-align: center;
        background: $main-color;
      }
    }
  }

  &-c{
    .about-logos{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img{
        width: 70%;
      }
    }
  }

  &-d{
    .testimonials{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;

      ul{
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }

      p{
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }

      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

// Contact Page
#contact{
  &-a{
    .text-fields{
      display: grid;
      grid-template-areas: 
      'name email'
      'subject phone'
      'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }
      .text-input{
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit']{
      width: 50%;
    }
  }

  &-b{
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c{
    h1{
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: $white;
  height: 5rem;

  .footer-content{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab{
      margin-right: 1rem;
      border: 2px $white solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover{
        background: $main-color;
      }
    }
  }
}
// Import media queries
@import "media";